:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--address-text-color: rgba(255, 255, 255, 0.6);
--primary-backgroud-color: #E5E5E5;
}
body{
background-color: var(--primary-backgroud-color);
color: var(--primary-text-color);
}
/* ul { list-style: none;}*/
/* Nav*/
.top{
background-color: #FFFFFF;
}
.logo{
color: #2196F3;
}
.site-nav .link{
color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
color: var(--accent-color);
}
/* Contacts*/
.auth-nav .link{
color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus{
color:  var(--accent-color);
}
/* Hero */
.hero {
background-color: #2F303A;
color: #FFFFFF;
}
.button{
background: #2196F3;
color: #FFFFFF;
cursor: pointer;
}
/* Section */
.section-title {
color: var(--title-text-color);
}
.section-features{
color: var(--title-text-color);
}

/* Works */

/* Team */
.section.team{
background-color: #F5F4FA;
}
/* Footer */
.footer{
background-color: #2F303A;
}
.link-address{
color: #FFFFFF;
}
.link-address:hover,
.link-address:focus{
color:  #2196F3;
}
.footer .link{
color: var(--address-text-color);
}
.footer .link:hover,
.footer .link:focus{
color:  #2196F3;
}

